/* 전체 */
body {
  font-size: 14px;
  color: #202124;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*브라우저 꽉차게*/
}
.page-wrapper #main {
  flex-grow: 1;
}

/* 헤더 */
#header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 6px;
  box-sizing: border-box;
}
#header ul {
  display: flex;
  align-items: center;
}
#header .left-list {
  margin-left: 10px;
}
#header .left-list li a {
  /* 마진,패딩을 주기 위해 inline-block*/
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
}
#header .right-list {
  font-size: 13px;
  margin-right: 8px;
}
#header .right-list li + li {
  padding-left: 15px;
}
#header .img-menu-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#header .img-menu-wrapper:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
#header .img-menu {
  width: 16px;
  height: 16px;
}
#header .btn-login {
  background: #1a73e8;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 9px 23px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.25px;
  line-height: 16px;
}

/* 메인 */
#main {
  flex: 1 1 0;
  /* flex: 1 */
  /* flex-grow: 1;  flex-shrink: 1; flex-basis: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .img-logo {
  width: 272px;
}
#main .container {
  width: 100%;
  max-width: 584px;
  padding: 20px;
  text-align: center;
}
#main .container .search-container {
  border: 1px solid #dfe1e5;
  height: 44px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 0 8px 0 14px;
  margin: 20px 0;
  background: #fff;
}
#main .container .search-container:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
#main .container .search-container .search-img {
  width: 20px;
  padding-right: 13px;
}
#main .container .search-container input {
  border: none;
  flex: 1;
  outline: none;
}
#main .container .search-container .keyboard-img {
  width: 24px;
  padding: 0 8px;
  cursor: pointer;
}
#main .container .search-container .mic-img {
  width: 24px;
  padding: 0 8px;
  cursor: pointer;
}
#main .tooltip-wrapper {
  position: relative;
  display: flex;
}
#main .tooltip-wrapper:hover .tooltip {
  display: block;
}
#main .tooltip {
  display: none;
  position: absolute;
  background: #000;
  color: #fff;
  width: 60px;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  left: -15px;
  bottom: -40px;
}
#main .tooltip::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  bottom: 21px;
  left: 30px;
  transform: rotate(45deg);
}
#main .container .button-container button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
#main .container .button-container button:hover {
  box-shadow: 0 1px 1px rgb(0, 0, 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
#main .container .service-info {
  color: #3c4043;
  font-size: small;
  line-height: 28px;
}
#main .container .service-info a {
  color: #1a0dab;
}

.tab-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.tab-list li {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab-list li:hover {
  background-color: rgb(229, 231, 232);
}
.tab-list .icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(241, 243, 244, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.tab-list .img-icon {
  width: 24px;
  height: 24px;
}
.tab-list .tab-name {
  margin-top: 6px;
  margin-bottom: 16px;
}

/* 푸터 */
#footer {
  background: #f2f2f2;
  color: #70757a;
}
#footer .bar1 {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
}
#footer .bar2 {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
@media screen and (max-width: 1200px) {
  #footer .bar2 {
    justify-content: space-around;
  }
}
#footer .bar2 ul {
  display: flex;
}
#footer .bar2 ul li {
  display: inline-block;
  padding: 15px;
}
